# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Other files
app.py
test.py
git-filter-repo
git-filter-repo.*

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
MANIFEST

# PyInstaller
*.manifest
*.spec

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code settings
.vscode/